:root {
  --neutral-100: #fafafa;
  --neutral-900: #222;
  --neutral-900-transparent: rgba(22, 22, 22, 0.4);
  --wrapper-padding-x: 32px;
  --wrapper-padding-y: 22px;

  --font-size-h1: 32px;
  --font-size-h2: 24px;
  --font-size-h3: 18px;
  --font-size-h4: 18px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

body {
  line-height: 1.5;
  color: var(--neutral-900);
  background: var(--neutral-100);
}

h1,
h2,
h3,
h4 {
  margin: 1.5em 0 0.5em;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h1,
h2 {
  margin: 2em 0 0.75em;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h3);
}

ul,
ol {
  padding-left: 24px;
  margin: 0.5em 1.25em;
}

a {
  color: inherit;
  text-decoration: none;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
}

::view-transition-new(root) {
  z-index: 99999;
  overflow: hidden;
  border-radius: 9999999px;
  box-shadow: 0 0 0 2px blue;
  animation: enlargeCircle 10s ease-in forwards;
}

::view-transition-new(legal-notice) {
  animation: enlargeCircle 5s ease-in forwards;
}

::view-transition {
  --vt-max-size: max(200vw, 200vh);
}

@keyframes enlargeCircle {
  0% {
    width: 0;
    height: 0;
    object-view-box: inset(0 100vw 100vh 0);
  }

  100% {
    width: var(--vt-max-size);
    height: var(--vt-max-size);
    object-view-box: inset(0 -100vw calc(100vh - 200vw) 0);
  }
}
