.section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  min-height: 100svh;

  a {
    text-decoration: underline;
    text-underline-offset: 0.25em;
    transition: opacity 0.25s ease;

    &:hover {
      opacity: 0.8;
    }
  }
}

.wrapper {
  padding: 0 var(--wrapper-padding-x);
}

.contentContainer {
  max-width: 640px;
  padding: 120px 0;
  margin: 0 auto;
}
