.section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  min-height: 100svh;
}

.wrapper {
  padding: 0 var(--wrapper-padding-x);
}

.contentContainer {
  max-width: 640px;
  padding: 100px 0;
  margin: 0 auto;
  overflow: hidden;
  color: var(--neutral-600);
  @media (min-width: 768px) {
    padding: 120px 0;
  }

  h1,
  h2,
  h3,
  h4 {
    color: var(--neutral-900);
  }
}

.headline {
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}

h1.headline {
  margin-bottom: 1.25em;
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 0.5s ease 0.25s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.ptCircle {
  position: fixed;
  top: 100%;
  left: 100%;
  z-index: 998;
  width: 0;
  height: 0;
  background-color: var(--neutral-100);
  border-radius: 9999999px;
  box-shadow: 0 0 0 2px var(--neutral-900-transparent);
  transform: translate(-50%, -50%);
  animation: enlargeCircle 0.5s ease;
}

@keyframes enlargeCircle {
  0% {
    width: 0;
    height: 0;
  }

  100% {
    width: var(--pt-circle-size);
    height: var(--pt-circle-size);
  }
}

.mobileOnlyMessage {
  margin-top: 20px;
  @media (min-width: 576px) {
    display: none;
  }
}
