.toastHeadline {
  margin: 0;
}

.toastSubline {
  margin: 0;
  color: var(--neutral-100-transparent);
}

.icon {
  position: relative;
  flex-shrink: 0;
  width: 28px;
  height: 28px;

  > svg {
    display: block;
  }
}
