.toastHeadline {
  margin: 0;
}

.toastSubline {
  margin: 0;
  color: var(--neutral-100-transparent);
}

.icon {
  position: relative;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  @media (min-width: 576px) {
    width: 28px;
    height: 28px;
  }

  > svg {
    display: block;
    width: 24px;
    height: 24px;
    @media (min-width: 576px) {
      width: 28px;
      height: 28px;
    }
  }
}
