.explorer {
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
  @media (min-width: 540px) {
    width: auto;
    margin: 0 calc((100vw - 540px - 20px) / 2 * -1);
  }
  @media (min-width: 992px) {
    width: 972px;
    margin: 0 -216px;
  }
}

.layout {
  display: flex;
  background: var(--neutral-200);
  border: 1px solid var(--neutral-200);
  align-items: stretch;
  border-radius: 12px;
  flex-direction: column;
  gap: 1px;
  overflow: hidden;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.sidebar {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1px;
  @media (min-width: 768px) {
    width: 380px;
  }
}

.section {
  padding: 20px;
  background: var(--neutral-0);
}

.sectionTitle {
  margin: 0 0 16px;
  font-size: 16px;
  color: var(--neutral-900);
  font-weight: 600;
  line-height: 1.4;
}

.tabs {
  display: flex !important;
  margin: 0 auto 16px;
}

.axisSelects {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sliders {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.resultsList {
  display: flex;
  margin: 0;
  counter-reset: result-counter;
  flex-direction: column;
  gap: 4px;
  list-style: none;
  padding-left: 0;
}

.resultItem {
  position: relative;
  margin: 0 -12px;
  padding: 12px 12px 12px 36px;
  transition: background 0.2s ease;
  border-radius: 8px;
  counter-increment: result-counter;

  &:hover {
    background: var(--green-50);

    &::before {
      color: var(--green-700);
      background: var(--green-100);
    }
  }

  &::before {
    position: absolute;
    top: 14px;
    left: 10px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    color: var(--neutral-500);
    background: var(--neutral-100);
    transition: background 0.2s ease;
    border-radius: 4px;
    content: counter(result-counter);
    font-weight: 600;
    line-height: 20px;
    text-align: center;
  }
}

.resultName {
  font-size: 14px;
  color: var(--neutral-900);
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 6px;
}

.resultProps {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.resultProp {
  display: flex;
  font-size: 13px;
  align-items: center;
  gap: 4px;
  line-height: 1.4;
}

.resultPropLabel {
  color: var(--neutral-500);
}

.resultPropValue {
  color: var(--neutral-700);
  font-weight: 600;
}
