.animatedLink {
  position: relative;
  overflow: hidden;
  font-size: 16px;

  &:hover {
    .labelTop,
    .labelBottom {
      transition: transform 0.25s ease-in-out; // We intentioally only want the transition on hover
    }

    .labelTop {
      transform: translateY(-100%);
    }

    .labelBottom {
      transform: translateY(0);
    }
  }
}

.isSmall {
  font-size: 13px;
}

.labelTop {
  display: inline-block;
}

.labelBottom {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
}
