.container {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  padding: 32px;
  margin: 0;
  font-size: 100px;
  font-weight: 400;
  line-height: 1;
  color: var(--neutral-900-transparent);
  transform: translate(-50%, -50%);
}

.isHighlighted {
  color: var(--neutral-900);
}
