.linkContainer {
  position: absolute;
  display: flex;
  gap: 18px;
  align-items: center;
  justify-content: space-between;
  padding: 22px 32px;
}

.topLeft {
  top: 0;
  left: 0;
}

.bottomLeft {
  bottom: 0;
  left: 0;
}

.topRight {
  top: 0;
  right: 0;
}

.bottomRight {
  right: 0;
  bottom: 0;
}
