.mobileNav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  text-align: center;
  background-color: var(--neutral-100);
  box-shadow: 0 1px 0 0 var(--neutral-900);
  transition: 0.375s ease;
  transform: translateY(-105%);
  @media (min-width: 768px) {
    display: none;
  }

  &.isOpen {
    transform: translateY(0);
  }
}

.mobileNavButton {
  top: 0;
  right: 0;
  z-index: 999;
  display: block;
  padding: 12px;
  color: var(--neutral-900);
  appearance: none;
  cursor: pointer;
  background: none;
  border: none;
  transition: opacity 0.25s ease;
  @media (min-width: 768px) {
    display: none;
  }

  &:hover {
    opacity: 0.8;
  }

  svg {
    display: block;
  }
}

.mobileNavOpenButton {
  position: fixed;
}

.mobileNavCloseButton {
  position: absolute;
}

.linkContainer {
  z-index: 999;
  transition:
    transform 0.5s ease,
    opacity 0s linear 0s;
  transition-delay: 1.25s;
  @media (min-width: 768px) {
    position: fixed;
    display: flex;
    gap: 18px;
    align-items: center;
    justify-content: space-between;
    margin: var(--wrapper-padding-y) var(--wrapper-padding-x);
  }

  &.isHidden {
    opacity: 0;
    transition-delay: 0s, 0.5s;
  }
}

.topLeft {
  top: 0;
  left: 0;
}

.topRight {
  top: 0;
  right: 0;
}

.topLeft,
.topRight {
  &.isHidden {
    transform: translateY(-200%);
  }
}

.bottomCenter {
  position: fixed;
  bottom: 8px;
  left: 50%;
  margin-right: 0;
  margin-left: 0;
  transform: translateX(-50%);
  @media (min-width: 768px) {
    bottom: 0;
  }

  &.isHidden {
    transform: translate(-50%, 200%);
  }
}

.bottomLeft {
  bottom: 0;
  left: 0;
}

.bottomRight {
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: flex-end;
}

.bottomLeft,
.bottomRight {
  &.isHidden {
    transform: translateY(200%);
  }
}

.backToHome {
  @media (max-width: 767.98px) {
    position: fixed !important;
    top: 8px;
    left: 8px;
    z-index: 998;

    &.isHidden {
      transform: translateY(-200%);
    }
  }
}

.mobileHeaderBg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 997;
  width: 100%;
  height: 56px;
  pointer-events: none;
  background-color: var(--neutral-100);
  transition: transform 0.5s ease;
  transform: translateY(0);
  @media (min-width: 768px) {
    display: none;
  }

  &.isHidden {
    transform: translateY(-101%);
  }
}
