.container {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  padding: 32px;
  font-size: 100px;
  font-weight: 400;
  color: var(--text-secondary);
  transform: translate(-50%, -50%);
}

.isHighlighted {
  color: var(--text-primary);
}
