.container {
  position: relative;
  z-index: 2;
  display: block;
  overflow: hidden;
  font-size: 16px;
  line-height: 1.25;

  &:hover {
    .labelTop,
    .labelBottom {
      /* We intentioally only want the transition on hover */
      transition: transform 0.25s ease-in-out;
    }

    .labelTop {
      transform: translateY(-100%);
    }

    .labelBottom {
      transform: translateY(0);
    }
  }

  &.isSmall {
    font-size: 13px;
  }
}

.icon {
  position: absolute;
  top: 50%;
  left: 0;
  transition: transform 0.25s ease;
  transform: translate(0, -50%);
}

.labelTop {
  display: inline-block;
}

.labelBottom {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
}

.hasIcon {
  padding-left: 32px;
}
