.container {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  overflow: hidden;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  @media (min-width: 576px) {
    padding: 0;
    text-align: unset;
  }

  &:hover {
    .labelTop,
    .labelBottom {
      /* We intentioally only want the transition on hover */
      transition: transform 0.25s ease-in-out;
    }

    .labelTop {
      transform: translateY(-100%);
    }

    .labelBottom {
      transform: translateY(0);
    }
  }

  &.isSmall {
    @media (min-width: 576px) {
      font-size: 13px;
    }
  }
}

.transitionContainer {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.icon {
  position: absolute;
  top: 50%;
  left: 10px;
  display: block;
  transition: transform 0.25s ease;
  transform: translate(0, -50%);
  @media (min-width: 576px) {
    left: 0;
  }
}

.labelTop,
.labelBottom {
  &::selection {
    background-color: transparent;
  }
}

.labelTop {
  display: inline-block;
}

.labelBottom {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
}

.hasIcon {
  padding-left: 32px;
}
