.container {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  padding: 32px;
  margin: 0;
  font-size: 72px;
  font-weight: 400;
  line-height: 1;
  color: var(--neutral-900-transparent);
  white-space: nowrap;
  transform: translate(-50%, -50%);
  @media (min-width: 992px) {
    font-size: 100px;
  }
}

.isHighlighted {
  color: var(--neutral-900);
}

.wordContainer {
  display: inline-block;
  margin: -0.1em 0;
  overflow: hidden;
}

.w {
  display: inline-block;
  transform: translateY(100%);
  animation: fadeIn 0.5s ease forwards;

  @for $i from 1 through 12 {
    &[data-word='#{$i}'] {
      animation-delay: #{$i}00ms;
    }
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}
