.row {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 8px !important;

  &:last-child {
    margin-bottom: 0 !important;
  }
}

.title {
  flex-shrink: 0;
  color: var(--neutral-900);
}

.text {
  color: var(--neutral-600);
  text-align: right;

  a {
    text-decoration: underline;
  }
}
