.smoke {
  position: fixed;
  z-index: 9999;
  width: 73.2px;
  height: 72px;
  pointer-events: none;
  background-image: url('/assets/smoke-effect-sprites.png');
  background-size: auto 72px;
  opacity: 0;
  transform: translate(-50%, -50%);
  animation: smoke 0.5s steps(14) 1;
  @media (min-width: 700px) {
    width: 91.5px;
    height: 90px;
    background-size: auto 90px;
  }
  @media (min-width: 992px) {
    width: 122px;
    height: 120px;
    background-size: auto 120px;
  }
}

@keyframes smoke {
  0% {
    display: block;
    background-position-x: 0%;
    opacity: 1;
  }

  100% {
    display: block;
    background-position-x: 100%;
    opacity: 1;
  }
}
