.button {
  display: inline-flex;
  padding: 4px 16px;
  color: var(--neutral-700);
  background: var(--neutral-0);
  border: 1px solid var(--neutral-200);
  transition: background 0.25s ease;
  align-items: center;
  appearance: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  gap: 8px;
  justify-content: center;
  line-height: 1;
  min-height: 36px;

  &:hover {
    background: var(--neutral-50);
  }

  &:active {
    background: var(--neutral-100);
  }
}

.icon {
  display: inline-block;
  flex-shrink: 0;

  > * {
    display: block;
    color: var(--neutral-400);
    flex-shrink: 0;
  }
}
